.App {
  text-align: center;
}
.row {
  content: "";
  display: table;
  clear: both;
}
.column-1 {
  float: left;
  width: 100%;
}
.column-2 {
  float: left;
  width: 50%;
}
.column-3 {
  float: left;
  width: 33.33%;
}
.inline-box{
  display: inline-block;
}